<a href="https://colab.research.google.com/github/pawel0508/MachineLearning_UcznieNienadzorowane/blob/main/AssociationRules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

Generuję dane

In [39]:
data = {'produkty': ['chleb jajka mleko', 'mleko ser', 'chleb masło ser', 'chleb jajka']}

transactions = pd.DataFrame(data=data, index=[1, 2, 3, 4])
transactions

            produkty
1  chleb jajka mleko
2          mleko ser
3    chleb masło ser
4        chleb jajka

In [40]:
expand = transactions['produkty'].str.split(expand = True)
expand

       0      1      2
1  chleb  jajka  mleko
2  mleko    ser   None
3  chleb  masło    ser
4  chleb  jajka   None

Wydobycie nazw wszystkich produktów

In [41]:
products = []
for i in range(expand.shape[0]-1):
  for item in expand.iloc[i,:]:
    if item is not None and item not in products:
      products.append(item)
products.sort()
print(products)

['chleb', 'jajka', 'masło', 'mleko', 'ser']

In [42]:
transactions_encoded = np.zeros((len(transactions), len(products)), dtype = 'int8')
transactions_encoded

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]], dtype=int8)

In [45]:
for row in zip(range(len(transactions)), transactions_encoded, expand.values):
    for idx, product in enumerate(products):
        if product in row[2]:
            transactions_encoded[row[0], idx] = 1

transactions_encoded

array([[1, 1, 0, 1, 0],
       [0, 0, 0, 1, 1],
       [1, 0, 1, 0, 1],
       [1, 1, 0, 0, 0]], dtype=int8)

In [46]:
transactions_encoded_df = pd.DataFrame(transactions_encoded, columns=products)
transactions_encoded_df

   chleb  jajka  masło  mleko  ser
0      1      1      0      1    0
1      0      0      0      1    1
2      1      0      1      0    1
3      1      1      0      0    0

Algorytm apriori

In [47]:
from mlxtend.frequent_patterns import apriori, association_rules

supports = apriori(transactions_encoded_df, min_support = 0.0, use_colnames = True)

In [49]:
supports = apriori(transactions_encoded_df, min_support = 0.3, use_colnames = True)

In [54]:
rules = association_rules(supports, metric='confidence', min_threshold=0.65)
rules = rules.iloc[:, [0, 1, 4, 5, 6]]
rules

  antecedents consequents  support  confidence      lift
0     (chleb)     (jajka)      0.5    0.666667  1.333333
1     (jajka)     (chleb)      0.5    1.000000  1.333333

In [55]:
rules.sort_values(by = 'lift', ascending = True)

  antecedents consequents  support  confidence      lift
0     (chleb)     (jajka)      0.5    0.666667  1.333333
1     (jajka)     (chleb)      0.5    1.000000  1.333333